body {
  font-family: 'American Typewriter'
}

.circle {
  border-radius: 50%;
}

.record {
  height: 500px;
  width: 500px;
  background-color: black;
}

.label {
  height: 250px;
  width: 250px;
  position: relative;
  background: url('/street.jpg');
  background-size: cover;
  top: 25%;
  left: 25%;
  display: flex;
}

.hole {
  height: 15px;
  width: 15px;
  background-color: white;
  margin: auto;
}

.left-hole {
  position: absolute;
  top: 44%;
  left: 13%;
}

a {
  font-weight: bold;
  font-size: 22px;
}

.right-hole {
  position: absolute;
  top: 44%;
  left: 58%;
}

mark {
  padding: 0.2rem;
  background-color:#FFCE19;
  display: inline-block;
  text-decoration: inherit;
}

.label .text {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 25px;
  top: 25px;
  text-align: center;
}

.label .text h2 {
  margin-top: 0;
}

button {
  border: none;
}

button img {
  height: 100px;
  width: 100px;
}

button:hover {
  cursor: pointer;
}