html, body {
  height: 100%;
}

body {
  font-family: 'American Typewriter';
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border-radius: 50%;
}

.record {
  height: 300px;
  width: 300px;
  background-color: black;
}

.label {
  height: 150px;
  width: 150px;
  position: relative;
  background: url('/street.jpg');
  background-size: cover;
  top: 25%;
  left: 25%;
  display: flex;
}

.hole {
  height: 15px;
  width: 15px;
  background-color: white;
  margin: auto;
}

.left-hole {
  position: absolute;
  top: 44%;
  left: 13%;
}

a {
  font-weight: bold;
  font-size: 0.8rem;
}

.right-hole {
  position: absolute;
  top: 44%;
  left: 58%;
}

mark {
  padding: 0.2rem;
  background-color:#FFCE19;
  display: inline-block;
  font-size: inherit;
  text-decoration: inherit;
}

.label .text {
  height: 120px;
  width: 120px;
  position: absolute;
  left: 18px;
  top: 18px;
  text-align: center;
}

.label .text h2 {
  margin-top: 0;
  font-size: 0.8rem;
}

.controls {
  text-align: center;
  margin-top: 3rem;
}

button {
  border: none;
  text-align: center;
  background-color: white;
}

button img {
  height: 100px;
  width: 100px;
}

button:hover {
  cursor: pointer;
}